---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 lg:gap-16 lg:gap-y-6">
  {
    items.map((item, i) => (
      <div class="flex gap-6 group">
        <div class="w-10 h-10 bg-emerald-950 rounded-lg shrink-0 flex items-center justify-center font-black text-white text-sm group-hover:bg-emerald-500 transition-colors">
          {i + 1}
        </div>
        <p class="text-slate-600 leading-relaxed font-medium">{item}</p>
      </div>
    ))
  }
</div>
