@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;0,800;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  @apply selection:bg-emerald-500 selection:text-white;
}

@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

@keyframes marquee-reverse {
  0% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 40s linear infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

.animate-marquee-reverse {
  display: inline-flex;
  animation: marquee-reverse 40s linear infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

.custom-scrollbar::-webkit-scrollbar { width: 3px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #10b981; }