---
import Navigation from "../components/shared/Navigation";
import Footer from "../components/shared/Footer.astro";

import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>HEALTHMED-IC</title>
  </head>
  <body class="font-['Plus_Jakarta_Sans',sans-serif] selection:bg-emerald-500 selection:text-white">
    <Navigation client:load />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />

    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;700;800&display=swap");

      html {
        scroll-behavior: smooth;
      }

      @keyframes marquee {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }

      @keyframes marquee-reverse {
        0% {
          transform: translate3d(-50%, 0, 0);
        }
        100% {
          transform: translate3d(0, 0, 0);
        }
      }

      .animate-marquee {
        display: inline-flex;
        animation: marquee 40s linear infinite;
        backface-visibility: hidden;
        perspective: 1000px;
      }

      .animate-marquee-reverse {
        display: inline-flex;
        animation: marquee-reverse 40s linear infinite;
        backface-visibility: hidden;
        perspective: 1000px;
      }

      .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #10b981;
      }
    </style>
  </body>
</html>
